name: Build NVDisplayKext

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: macos-15

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Show Xcode & Clang info
      - name: Show Xcode environment
        run: |
          xcode-select -p
          xcodebuild -version
          clang++ --version

      # Build KEXT as x86_64
      - name: Build NVDisplayKext
        run: |
          mkdir -p NVDisplay.kext/Contents/MacOS
          SDKROOT=$(xcrun --sdk macosx --show-sdk-path)
          echo "Using SDK: $SDKROOT"

          arch -x86_64 make NVDisplay.kext/Contents/MacOS/NVDisplay

      - name: Add info.plist and package before upload
        run: |
          arch -x86_64 make install-info-plist

      # Upload KEXT artifact
      - name: Upload built KEXT
        uses: actions/upload-artifact@v4
        with:
          name: NVDisplayKext.kext.zip
          path: NVDisplay.kext.zip

